<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlDbPath" value="D:\SqlDbFiles\"/>
    <add key="InforOfDailyDbPath" value="D:\SqlDbFiles\infodaily\"/>
    <add key="BasicinfostockDbPath" value="D:\SqlDbFiles\basicinfostock.db3"/>
    <add key="KlineBackground" value="#FF162B39"/>
  </appSettings>
</configuration>